.content{
    margin-bottom: 48px;
    padding-top: 100px;
}

.main-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 10%;

}

.main-content img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 500px;
}

.main-content-paragraph{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 40px;
    margin-right: 25%;
    
}

.main-content-paragraph-title{
    font-size: 70px;
    color: #D6000D;
}

@media (max-width: 768px){
    
    .main-content img{
        width: 300px;
        margin-right: 120px;
    }
}