.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: black;
    margin-top: 100px;
    padding-left: 100px;
    height: 400px;
    gap: 100px;
}

.footer-title{
    color:#FFF;
    padding-top: 100px;
    padding-bottom: 25px;
}
.footer-subtitle{
    color: rgb(145, 142, 142);
}

.footer-title.-codar{
    font-size: 50px;
    color:#FFF;
    padding-top: 80px;
    padding-bottom: 25px;
}

@media (max-width: 768px){
    .footer{
        display: flex;
        flex-direction: column;
        gap: 2px;
        width: 515px;
        font-size: 20px;
        height: 200vh;
        padding-left: 20px;
        padding-right: 50px;
    }
    .footer-title{
        text-align: center;
        font-weight: bold;
        padding-top: 10px;
    }
    .footer-subtitle{
        text-align: center;
        color: #fff;
    }

    
}
